@model List<SliderVM>
@{
    ViewData["Title"] = "Index";
}
<style>
    .status-slider{
        width:25px;
        height:25px;
        border-radius:50%;
        cursor:pointer;
    }
    .status-true{
        background-color:green;
    }
     .status-false{
        background-color: red;
    }
</style>

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
           
            <a asp-action="Create" class="btn btn-outline-success m-2">Create</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        
                        <th scope="col">Image</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var slider in Model)
                    {
                       <tr>
                        <td><img style="width:125px; height:75px;" src="~/images/@slider.Image"/></td>
                        <td><img style="width:125px; height:75px;" src="~/images/@slider.Logo" /></td>
                        <td>@slider.Title</td>
                        <td>@slider.Description</td>
                        <td>
                                <div class="status-slider @(slider.Status ? "status-true":"status-false")">
                                 
                            </div>
                        </td>
                        <td>@slider.CreateDate</td>
                        <td>   
                            <a  asp-action="Detail" asp-route-id="@slider.Id" class="btn btn-outline-info m-2">Detail</a>
                            <a type="button" class="btn btn-outline-warning m-2">Edit</a>
                            <a type="button" class="btn btn-outline-danger m-2">Delete</a>
                         </td>
                    </tr>
                    }
                  
                 
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
